<div class="title">
  <h2>Buscar Cliente</h2>
</div>

<div class="toggle">
  <mat-slide-toggle (change)="toggle()" [checked]="isDocument"></mat-slide-toggle>
  <label>{{isDocument ? 'Documento' : 'ID'}}</label>
</div>

<div class="form-container">

<form class="form" (ngSubmit)="onSubmit()">

  <mat-form-field class="example-full-width">
    <mat-label>{{isDocument ? 'Documento' : 'ID'}}</mat-label>
    <input matInput [(ngModel)]="document" name="document" placeholder="Digite o valor da opção selecionada" required>
  </mat-form-field>
  <div class="findButton">
    <button mat-flat-button type="submit" (click)="onSubmit()">Buscar</button>
  </div>
</form>

</div>
<div class="container">
  <h3>Resultado:</h3>
  <ul *ngIf="responseData">

    <li>
      <strong>ID:</strong> {{ responseData.id }}<br>
      <strong>Razão Social:</strong> {{ responseData.socialReason }}<br>
      <strong>Nome Fantasia:</strong> {{ responseData.fantasyName }}<br>

      <strong>Identidade:</strong>
      <div *ngIf="responseData.identity">
        <div *ngIf="responseData.identity.type">Tipo: {{ responseData.identity.type }}</div>
        <div *ngIf="responseData.identity.identity">Documento: {{ responseData.identity.identity }}</div>
      </div>
      <div *ngIf="!responseData.identity">
        Não disponível
      </div>

      <strong>Telefone:</strong> {{ responseData.phone }}<br>
      <strong>Ativo:</strong> {{ responseData.isActive ? 'Sim' : 'Não' }}<br>
      <hr>
    </li>
  </ul>
</div>



